div{
    border:1px solid black;
}
#parent{
    min-height: 300px;
    background-color:green;
}
#child{
    min-height: 200px;
    background-color:yellow;
}
#grandchild{
    min-height: 100px;
    background-color:red;
}
